*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #707c8a;
    --light-color: #eeeef0;
    --dark-color: #111;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--primary-color);
}

a{
    text-decoration: none;
    color: #bebebe;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar*/
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color: var(--primary-color);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 130px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
    color: var(--light-color);
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Home */
.home .background{
    background-image: url('../images/hero-bg-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    background-attachment: fixed;
    opacity: 80%;
}

.home .container {
    margin-top: 90px;
}

.home .home-text {
    position: absolute;
    top: 350px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

/* Gallery */
.gallery {
    background-color: var(--light-color);
    padding-top: 60px;
}

.gallery .gallery-text {
    padding-top: 40px;
    size: 4rem;
}

.gallery .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery .gallery-grid a {
    width: 100%; 
    height: auto;
    display: block;
}

/* Footer */
.footer {
    padding: 40px 0;
}

.footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(1fr);
}

/* Utility classes */

/* Container */
.container {
    padding: 0 130px;
    align-items: center;
}

/* Buttons */
.btn-primary {
    color: var(--light-color);
}