*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #5b8c5b;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #333;
}

a{
    text-decoration: none;
    color: #bebebe;
}

ul {
    list-style: none;
}

img{
    max-width: 100%;
}

/* Navbar*/
.navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #6a6a6a;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 130px;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
    color: var(--primary-color);
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Home */
.home {
    background-image: url('../images/hero-bg-desktop.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;

    background-attachment: fixed;
}

.home .container {
    margin-top: 90px;
}

.home .home-text {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

/* Gallery */
.gallery {
    background-color: var(--light-color);
}

/* Footer */
.footer {
    background-color: var(--dark-color);
    padding: 40px 0;
}

/* Utility classes */

/* Container */
.container {
    padding: 0 130px;
    align-items: center;
}